# ignore all other file in cmd directory except .go files
cmd/*/*
!cmd/*/*.go
*/cmd/*/*
!*/cmd/*/*.go
.scratch
.env
!.env.example
main
!main.go
main.zip
test-file.md
.DS_Store
aws-lambda.json
aws-out.*
template.yml